body {
    margin:0;
    padding:0;
}
* {
    box-sizing: border-box;
    font-family: "adobe-clean", sans-serif;
}
*:focus {
    outline: 0;
}
body {
    margin:0;
    padding:0;
    font-size:100%;
}
header {
    height: 40px;
    background:#fff;
    background-image: url(../assets/images/bg_texture.jpg);
    background-repeat: repeat-x;
    padding-left: 25px;
}
img.header {
  padding-top: 5px;
  border: 0;
}
header a.home-link, header a.home-link:visited {
    margin-right:20px;
    text-decoration:none;
    color:#169fc7;
    font-size:0.75rem;
    line-height: 40px;
    position: relative;
}
header a.home-link:hover {
    text-decoration: underline;
}
header a.home-link:before {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;

    border: 4px solid transparent;
    border-left-color: #169fc7;

    top: 39%;
    left: -10px;
}
a {
    color: #167BA1;
    text-decoration: underline;
}
a:hover {
    color: #fff;
}

p {
    color: #2d3033;
    font-size:1.125rem;
    font-weight: 400;
    line-height: 1.6rem;
}

h2, h3, h4 {
    color: #fff;
    margin: 0px;
}
.main-btn {
    width: 95%;
    font-size:0.9rem;
    font-weight: 400;
    line-height:0.9rem;
    color:#fff;
    text-transform:uppercase;
    text-decoration:none;
    background:#f4b505;
    padding:15px 15px 15px 48px;
    border-radius:6px;
    letter-spacing:1px;
    display:inline-block;
    margin:22px 10px 0 0;
    text-shadow:0px 1px 0px #C7750E;
    cursor: hand;
    -webkit-transition: background-color,.35s;
    transition: background-color,.35s;
    -webkit-appearance: none;
}
.main-btn:hover {
    text-transform:uppercase;
    text-decoration:none;
    background:#ee3551;
    text-shadow:none;
    color: #fff;
}

/**** Setting .main-btn font to resize with viewport ****/

@media screen and (max-width: 62em) {
    .main-btn {
        font-size:0.8rem;
    }
}

@media screen and (max-width: 55em) {
    .main-btn {
        font-size:0.7rem;
        padding:13px 19px 13px 48px;
    }
}

/* Font resetting for buttons done */

.soon-btn {
    width: 95%;
    font-size:0.9rem;
    font-weight: 400;
    color:#45b8da;
    text-transform:uppercase;
    text-decoration:none;
    background:#1c738c;
    padding:15px 0px 15px 48px;
    border-radius:6px;
    letter-spacing:1px;
    display:inline-block;
    margin:22px 10px 0 0;
    line-height:0.9rem;
}

/**** Setting .soon-btn font to resize with viewport ****/

@media screen and (max-width: 62em) {
.soon-btn {
        font-size:0.8rem;
    }
}

@media screen and (max-width: 55em) {
.soon-btn {
        font-size:0.7rem;
        padding:13px 19px 13px 48px;
    }
}

/* Font resetting for buttons done */


footer {
    background:#333;
    color:#fff;
    font-size: 0.625rem;
    font-weight: 100;
    padding-top: 25px;
}
footer a{
    color:#fff;
}
footer a:hover {
    color:#169fc7;
}
.left, .right {
    display:inline;
    float:left;
}
.wrapper {
    overflow:auto;
    display:block;
    padding-left: 40px;
    width: 350px;
}

/**** Setting .wrapper for smallest viewport ****/

 
@media screen and (max-width: 48em) {
    .wrapper {
        padding-left: 20px;
    }
}

/* Font resetting for buttons done */

.copyright {
    padding-left: 10px;
    font-size: 0.6rem;
    font-weight: 100;
    color: #fff;
    line-height: 0.85rem;
}

