#contact {
    background: linear-gradient(-45deg, transparent 75%, #27a1c5 75%) 0 50%, linear-gradient( 45deg, transparent 75%, #27a1c5 75%) 0 50%;
    background-repeat: repeat-x;
    background-size: 25px 25px, 25px 25px;
    background-position: left top;
    background-color: #eeeeee;
}

#contact h3 {
    padding-top:50px;
    margin: 0;
    font-size:2.143em;
    color:#111;
    font-weight: 100;
    line-height: 4.0rem;
}

/**** Setting h3 font to resize with viewport ****/

 
@media screen and (max-width: 55em) {
    #contact h3  {
        font-size:1.5rem;
    }
}

/* Font resetting for h3 done */

#contact h4 {
    font-size: 1.2rem;
    color:#828282;
    margin:0 0 30px;
    font-weight: 100;
    line-height: 1.4rem;
    padding: 0 20px 0 20px;
}

/**** Setting h4 font to resize with viewport ****/

 
@media screen and (max-width: 55em) {
    #contact h4  {
        font-size:1.15rem;
    }
}

/* Font resetting for h4 done */

#contact h5 {
    font-size: 1.4rem;
    color:#fff;
    font-weight: 400;
    line-height: 1.6rem;
    text-align: center;
}

#contact-form {
    padding:40px;
    border-radius:15px;
    background:#e2e2e2;
    margin:0 auto 20px auto;
}

/**** Setting from padding to resize with viewport ****/

 
@media screen and (max-width: 55em) {
    #contact-form  {
        padding: 20px;
    }
}

/* Padding reset done */

#contact-form label {
    color:#2d3033;
    margin-left:10px;
}
#contact-form:after {
    content:" "; 
    display:table; 
    clear:both;
}
#contact-form:after {
    clear:both;
}

#submission-sent {
    padding:30px;
    border-radius:15px;
    background:#95D127;
    margin:0 auto 20px auto;
}

#submission-sent img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 150px;
}