#download {
    background:#45b8da;
    padding:80px 0 80px 0;
    position: relative;
}

#download:before {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;

    border: 30px solid transparent;
    border-top-color: #45b8da;

    top: 100%;
    left: 50%;

    margin-left: -25px;
    z-index: 2;
}

#download h2 {
    font-size:1.9rem;
    padding-left: 30px;
    line-height: 1.5rem;
}

/**** Setting h2 font to resize with viewport ****/

 
@media screen and (max-width: 55em) {
    #download h2 {
        font-size:1.5rem;
    }
}

/* Font resetting for h2 done */


#download p {
    padding:0 0 0 30px;
    vertical-align: text-top;
}

#download img {
  max-height: 220px;
}