#hero {
    background:#2d3033;
    padding: 30px 0 0 0;
    position: relative;
}

#hero:after {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;

    border: 30px solid transparent;
    border-top-color: #2d3033;

    top: 100%;
    left: 50%;

    margin-left: -25px;
    z-index: 2;
}

#hero h1 {
    font-size:2.3rem;
    color:#fff;
    font-weight: 600;
    text-align: center;
    line-height: 1.5rem;
}

/**** Setting h1 font to resize with viewport ****/

@media screen and (max-width: 62em) {
    #hero h1 {
        font-size:2.2rem;
    }
}
 
@media screen and (max-width: 57em) {
    #hero h1 {
        font-size:1.9rem;
    }
}
 
@media screen and (max-width: 48em) {
    #hero h1 {
        text-align: center;
    }
}

/* Font resetting for h1 done */

#hero h2 {
    font-size:1.7rem;
    color:#fff;
    font-weight: 100;
    text-align: center;
    padding-bottom: 40px;
}

/**** Setting h2 font to resize with viewport ****/

@media screen and (max-width: 62em) {
    #hero h2 {
        font-size:1.6rem;
        padding-bottom: 20px;

    }
}
 
@media screen and (max-width: 57em) {
    #hero h2 {
        font-size:1.3rem;
    }
}

/* Font resetting for h2 done */

#hero p {
    font-size:1.5rem;
    color:#d0d0d0;
    line-height: 1.23em;
    font-weight: 100;
    text-align: center;
    padding: 20px 0 20px 0;
}

/**** Setting p font to resize with viewport ****/

@media screen and (max-width: 62em) {
    #hero p {
        font-size:1.3rem;
    }
}
 
@media screen and (max-width: 57em) {
    #hero p {
        font-size:1.1rem;
    }
}

/* Font resetting for p done */

#hero img {
	max-height: 220px;
}

/**** Setting hero image to scale with small ****/

@media screen and (max-width: 57em) {
    #hero img {
        max-height: 120px;
    }
}

/* Image reset done */

strong, b {
    padding-top: 10px;
    display: block;
}
