#hero {
    background:#2d3033;
    padding: 30px 0 30px 0;
    position: relative;
}

#hero:after {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;

    border: 30px solid transparent;
    border-top-color: #2d3033;

    top: 100%;
    left: 50%;

    margin-left: -25px;
    z-index: 2;
}

#hero h1 {
    font-size:2.3rem;
    color:#fff;
    font-weight: 600;
    text-align: center;
    line-height: 1.5rem;
}

/**** Setting h1 font to resize with viewport ****/

@media screen and (max-width: 62em) {
    #hero h1 {
        font-size:2.2rem;
    }
}
 
@media screen and (max-width: 57em) {
    #hero h1 {
        font-size:1.9rem;
    }
}
 
@media screen and (max-width: 48em) {
    #hero h1 {
        text-align: center;
    }
}

/* Font resetting for h1 done */

#hero h2 {
    font-size:1.5rem;
    color:#dedede;
    font-weight: 100;
    text-align: center;
    padding-bottom: 10px;
    line-height: 1.4rem;
}

/**** Setting h2 font to resize with viewport ****/

@media screen and (max-width: 62em) {
    #hero h2 {
        font-size:1.3rem;
        padding-bottom: 20px;

    }
}
 
@media screen and (max-width: 57em) {
    #hero h2 {
        font-size:1.2rem;
    }
}

/* Font resetting for h2 done */

#hero img {
	max-height: 220px;
}

/**** Setting hero image to scale with small ****/

@media screen and (max-width: 57em) {
    #hero img {
        max-height: 120px;
    }
}

/* Image reset done */

#hero a {
    color: #6fc8e3;
    text-decoration: none;
}

#hero a:hover {
    color: #fff;
    text-decoration: underline;
}

strong, b {
    padding-top: 10px;
    display: block;
}

ul {
    font-size:1.3rem;
    color:#fff;
    line-height: 1.23em;
    font-weight: 100;
}

/**** Setting ul font to resize with viewport ****/

@media screen and (max-width: 62em) {
    ul {
        font-size:1.1rem;
        padding-bottom: 10px;

    }
}
 
@media screen and (max-width: 57em) {
    ul {
        font-size:0.95rem;
    }
}

/* Font resetting for ul done */

