#install {
    background:#6fc8e3;
    padding:80px 0 80px 0;
    position: relative;
}

#install:after {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;

    border: 30px solid transparent;
    border-top-color: #6fc8e3;

    top: 100%;
    left: 50%;

    margin-left: -25px;
    z-index: 2;
}

/**** Setting container padding to resize with viewport ****/

 
@media screen and (max-width: 48em) {
    #install {
        padding: 30px 0 30px 0;
    }
}

/* Padding resetting for container done */

#install h2 {
    font-size:1.9rem;
    line-height: 1.5rem;
    font-weight: 400;
    text-shadow: 1px 1px 0px #27a1c5;
    margin-top: 15px;
}

/**** Setting h2 font to resize with viewport ****/

@media screen and (max-width: 62em) {
    #install h2 {
        font-size:1.7rem;
        margin: 0;
    }
}
 
@media screen and (max-width: 57em) {
    #install h2 {
        font-size:1.55rem;
    }
}
 
 
@media screen and (max-width: 48em) {
#install h2 {
        font-size:1.5rem;
        text-align: center;
    }
}

/* Font resetting for h2 done */

#install p {
    padding:0 30px 0 0;
    vertical-align: text-top;
}

/**** Setting p font to resize with viewport ****/

@media screen and (max-width: 62em) {
    #install p {
        font-size: 1.0rem;
    }
}


@media screen and (max-width: 48em) {
    #install p {
        text-align: center;
        padding: 0;
    }
}

/* Font resetting for p done */

#install img {
  max-height: 180px;
  vertical-align: center;
}

/**** Setting install image to scale with small ****/

@media screen and (max-width: 57em) {
    #install img {
        max-height: 180px;
    }
}

@media screen and (max-width: 48em) {
    #install img {
        padding: 20px 0 30px 0;
    }

/* Image reset done */