#pair {
    background:#27a1c5;
    padding:80px 0 80px 0;
    position: relative;

}

#pair:before {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;

    border: 30px solid transparent;
    border-top-color: #27a1c5;

    top: 100%;
    left: 50%;

    margin-left: -25px;
    z-index: 2;
}

#pair h2 {
    font-size:1.9rem;
    line-height: 1.5rem;
}

/**** Setting h2 font to resize with viewport ****/

 
@media screen and (max-width: 55em) {
    #pair h2 {
        font-size:1.5rem;
    }
}

/* Font resetting for h2 done */

#pair p {
    padding:0 30px 0 0;
    vertical-align: text-top;
}

#pair img {
  max-height: 220px;
}