#power {
    background:#ee3551;
    padding:80px 0 80px 0;
}

#power h2 {
    font-size:2.143rem;
}

/**** Setting h2 font to resize with viewport ****/

 
@media screen and (max-width: 55em) {
    #power h2 {
        font-size:1.5rem;
    }
}

/* Font resetting for h2 done */

#power p {
    padding:0 25px 0 25;
    font-size:1.0rem;
    font-weight: 100;
}

#power img {
  max-height: 220px;
}