@import "mixins.scss";
@import "header.scss";
@import "ui.scss";

#header {
    position: relative;

    .header {
        font-size: 1.9em;
    }

    .wrap {
        width: 82%;
        margin: 0 auto;
    }

    a {
        text-decoration: none;
    }

    nav a {
        font-weight: 400;
        font-size: 1em;
    }
}
#sideNav {
    top: 0;
}
#main-header {
    display: none;
}
img {
    border: none;
}

@media all and (max-width:1150px) { 
    $full-width: 90%;

    #header {
        .wrap {
            width: $full-width;
        }

        .logo .header {
            font-size: 1.6em;
        }
        nav a {
            font-size: 1.0em;
            margin-left: 20px
        }
    }
}

@media all and (max-width:1000px) { 
    $full-width: 95%;

    #header .wrap {
        width: $full-width;
    }
}

@media all and (max-width:750px) { 
    .mobile-hide {
        display: none
    }

    #header {
        position: relative;
        height: auto;
        padding-bottom: 0px;
        text-align: center;

        .logo {
            float: none;
            display: inline-block;
            height: 60px;
            line-height: 1;

            img {
                margin-top: -5px;
            }

            .header {
                line-height: 53px;
            }
        }

        nav {
            display: none;
        }
    }
}