@import "mixins.scss";

header {
    width:100%;
    height: 40px;
    background:#333;
    color: #fff;
    background-image: url(../assets/images/bg_texture.jpg);
    background-repeat: repeat-x;
}
header img{
    padding-top: 5px;
    border: 0;
}
header a.home-link, header a.home-link:visited {
    float:right;
    text-decoration:none;
    color:#27a1c5;
    font-size:.85em;
    line-height: 40px;
    position: relative;
}
header a.home-link:hover {
    text-decoration: underline;
}

header a.home-link:before {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    border: 4px solid transparent;
    border-left-color: #27a1c5;
    top: 39%;
    left: -10px;
}