@import "mixins.scss";

/* ----------------------------
    Common 
 ------------------------------ */

* {
    margin: 0;
    padding: 0;
    // -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
}

html, body { 
    height: 100%;
}

img {
    border: none;
}

body {
    font-family: source-sans-pro, Helvetica, Arial, sans-serif, sans-serif;
    font-size: $basic-font-size;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%; 
    font-weight: 300;
}

h1 {    font-size: 4.0em; font-weight: 500; letter-spacing: -.05em;   }
h2 {    font-size: 2.2em;   }
h3 {    font-size: 1.4em;   }
h4 {    font-size: 1.8em; font-weight: 200;   }

p { 
    margin: 0.5em 0 1.2em;
    font-weight: 300;
    line-height: 1.6em;
    color: $sub-font-color;
}

b {
    font-weight: 500;
    color: $font-color;
}

li {
    font-weight: 300;
    line-height: 1.6em;
}

ul, ol {
    padding-left: 3em;
    li {
        color: $sub-font-color;
    }
}

ul li {
    list-style: disc;
}

a { 
    color: $link-color;
    text-decoration: none;
    &:hover   { color: $link-color; }
    // &:visited { color: #a0a; }
}

hr {
    clear: both;
    border: none;
    border-top: 1px solid #eee;
    margin: 0 auto;
    width: 80%;
    max-width: $width;
}

form {
    text-align: center;
    padding-top: $pad;

    label {
        display: inline-block;
        width: 150px;
        text-align: right;
        margin-right: 20px;
        font-weight: 300;
    }

    select {
        width: 300px;
    }

    input[type="text"], input[type="email"], input[type="password"] {
        width: 274px;
        height: 24px;
        line-height: 24px;
        font-size: 16px;
        padding: 3px 8px;
    }

    .control-group {
        margin-bottom: 1em;        
    }
}

/* ----------------------------
    Layout I
 ------------------------------ */

.wrap {
    width: 80%;
    max-width: $width;
    margin: 0 auto;
    position: relative;
}

.saw {
    @include saw( $base-color, 60px, 'right' );
}

section {
    position: relative;

    .wrap {
        min-height: 200px;
        padding: $pad 0;
        width: 55%;
        padding-left: 0;
        padding-right: 30%;
        
        .insert {
            position: absolute;
            top: 60px;
            right: 0%;


            &.large {
                top: 80px;
                max-width: 400px;
            }
        }

        &.reverse {
            padding-right: 0;
            padding-left: 30%;

            .insert {
                right: auto;
                left: 0%;

                &.large { left: 0%; }
            }
        }

        &.center {
            text-align: center;
            min-height: 130px;
            margin-top: 40px
        }

        &.full {
            padding-right: 0;
            padding-left: 0;
            width: 80%;
        }

        &.short {
            padding-top: 40px;
            padding-bottom: 20px;
            min-height: 70px;
        }
    }
}

.hero {
    @include filler( $hero-color );
}

.primary {
    @include filler( $primary-color );
}

.secondary {
    @include filler( $secondary-color );
}

.tertiary {
    @include filler( $tertiary-color );
}

.quaternary {
    @include filler( $quaternary-color );
}
.reverse {
    padding-left: 37.5%;
    padding-right: 0;
}


/* ----------------------------
    Navigation
 ------------------------------ */

@import "header.scss";

footer {
    background:#333;
    color:#fff;
    font-size: 0.625rem;
    font-weight: 100;
    padding-top: 25px;
}
footer a{
    color:#fff;
}
footer a:hover {
    color:#fff;
}
.left, .right {
    display:inline;
    float:left;
}
.wrapper {
    overflow:auto;
    display:block;
    padding-left: 30px;
    max-width: 320px;
}

.copyright {
    padding-left: 10px;
}


/* ----------------------------
    UI
 ------------------------------ */

@import "ui.scss";


/* ----------------------------
    Page - Specific
 ------------------------------ */

#hero {
    background-image: url(../images/background.svg);
    background-repeat: no-repeat;
    background-position: 40% 50%;
    section {
        padding: $pad*2 0 40px;
    }
    .wrap {
        img.insert {
            top: 50px;
        }
    }
}

/* ----------------------------
    Responsive
 ------------------------------ */


@media all and (max-width:1150px) { 
    $full-width: 90%;
    $padding: 38%;

    .wrap {
        width: $full-width;
    }
    
    section .wrap {
        width: $full-width - $padding;
        padding-left: 0;
        padding-right: $padding;
        
        .insert.large { right: 0%;}
        &.reverse {
            padding-right: 0;
            padding-left: $padding;
            .insert.large { left: 0%; }
        }
    }

    #header {
        .logo .header {
            font-size: 1.6em;
        }
        nav a {
            font-size: 0.9em;
            margin-left: 20px
        }
    }
}

@media all and (max-width:1000px) { 
    $full-width: 95%;
    $padding: 38%;

    .wrap, section .wrap.full {
        width: $full-width;
    }
    
    section .wrap {
        width: $full-width - $padding;
        padding-right: 0;
        padding-left: 0;
            
        .insert{
            position: relative;
            max-width: none;
        }
        
        .insert.large { right: 0%; top:-10%;}
        &.reverse {
            padding-right: 0;
            padding-left: 0;
            .insert.large { left: 0%; top:-10%;}
            
        }
    }

    footer {
        nav a {
            $icon-size: 48px;
            margin: 0 30px;
            width: $icon-size;
            height: $icon-size;
        }
    }
}

@media all and (max-width:750px) { 
    $full-width: 95%;

    .mobile-hide {
        display: none;
    }

    body {
        margin-top: 0;
    }

    #header {
        position: relative;
        height: auto;
        padding-bottom: 10px;
        text-align: center;

        .logo {
            float: none;
            display: inline-block;
            margin-top: -6px;
            height: 60px;
        }

        nav {
            clear: both;
            display: block;
            float: none;
            padding-top: 10px;
            margin-top: -8px;
            border-top: 1px solid #eee;

            a {
                float: none;
                font-size: 0.8em;
                &:first-child {
                    margin-left: 0;
                }
            }

            .bt {
                display: none;
            }
        }
    }

    section .wrap {
        width: $full-width;
        padding: 50px 0;
        min-height: 0;

        &.reverse {
            padding-left: 0;
            .insert.large { left: 0%; top:-10%;}
        }

        .insert {
            position: relative;
            max-width: 300px;
        }

        &.short {
            padding-top: 20px;
            padding-bottom: 20px;
            min-height: 0;
        }
    }

    h1 {    font-size: 2.8em; }
    h2 {    font-size: 1.6em; }
    h3 {    font-size: 1.2em; }
    h4 {    font-size: 1.5em; font-weight: 300; }

    #hero, .primary {
        background-size: 1600px 400px;
        background-position: -500px 0;
    }

    .primary {
        background-position: -500px -50px;
    }

    #get-snap {
        display: none
    }

    .saw, .primary .saw, .secondary .saw {
        &:after {
            border-width: 22px;
            border-bottom-width: 0;
            bottom: -22px;
        }
    }

    .demo {
        aside {
            width: 100%;
            display: block;
            float: none;
        }
        iframe {
            width: 100%;
            display: block;
            float: none;
        }
        nav {
            padding: 0 0 0;
        }
    }
}

@media all and (max-width:480px) { 
    #hero, .primary {
        background-size: 1200px 300px;
        background-position: -340px 0;
    }

    .primary {
        background-position: -340px -50px;
    }
    
    section .wrap {
        .insert.large img{ max-width: 300px;}
    }
    
    .secondary .wrap{
        .insert.large img{ max-width: 95px; }
     }
    
    .home-link{
        display: none;
    }
    
    footer {
        nav a {
            $icon-size: 40px;
            margin: 0 16px;
            width: $icon-size;
            height: $icon-size;
        }
    }
}
